<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{client/layout.html}">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>
        Tài khoản
    </title>
</head>
<body>
<div layout:fragment="content">
    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">Tài khoản</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="breadcrumb-nav">
                        <li>
                            <a th:href="@{/}"><i class="lni lni-home"></i> Trang chủ</a>
                        </li>
                        <li><a th:href="@{/gio-hang}">Giỏ hàng</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->
    <div class="section" style="background-color: #f9f9f9">
        <div class="row">
            <div class="col-md-3" style="padding-left: 100px">
                <ul>
                    <li style="margin: 20px">
                        <a th:href="@{/tai-khoan/thong-tin-tai-khoan}">Tài khoản</a>
                    </li>
                    <li style="margin: 20px">
                        <a th:href="@{/tai-khoan/thong-tin-lien-he}">Thông tin liên hệ và địa chỉ</a>
                    </li>
                    <li style="margin: 20px">
                        <a th:href="@{/tai-khoan/quan-ly-don-hang}">Đơn hàng</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-9" style="padding-right: 50px">
                <div class="container t-card p-3">
                    <h5 class="mt-3 mb-3">Thông tin tài khoản</h5>
                    <div class="row" th:if="${typeUser.equals('oauth2')}">
                        <div class="col-md-6 mt-3 mb-3">
                            <div class="single-form form-default">
                                <label class="form-label">Họ và tên</label>
                                <input type="text" class="form-control" placeholder="Họ và tên"
                                       th:value="${userInfo.name}"
                                       id="customer_name" disabled/>
                            </div>
                        </div>
                        <div class="col-md-6 mt-3 mb-3">
                            <div class="single-form form-default">
                                <label class="form-label">Địa chỉ email</label>
                                <input class="form-control" type="text" placeholder="Nhập email"
                                       th:value="${userInfo.email}"/>
                            </div>
                        </div>
                        <div class="col-md-6 mt-3 mb-3">
                            <div class="single-form form-default">
                                <label class="form-label">Số điện thoại</label>
                                <input type="text" class="form-control" placeholder="Nhập số điện thoại"
                                       th:value="${userInfo.phone}"
                                       id="customer_phone"/>
                            </div>
                        </div>
                        <div class="col-md-6 mt-3 mb-3">
                            <div class="single-form form-default">
                                <label class="form-label">Ngày sinh</label>
                                <input type="text" class="form-control" placeholder="Nhập số điện thoại"
                                       th:value="${userInfo.phone}"
                                       id="customer_birthday"/>
                            </div>
                        </div>
                    </div>
                    <div th:unless="${typeUser.equals('oauth2')}">
                        <div class="col-md-12">
                            <div class="single-form form-default">
                                <label class="form-label">Họ và tên</label>
                                <div class="col-md-12 form-input form">
                                    <input type="text" class="form-control" placeholder="Họ và tên"
                                           id="customer_name"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mt-3 mb-3">
                            <div class="single-form form-default">
                                <label class="form-label">Địa chỉ email</label>
                                <input class="form-control" type="text" placeholder="Nhập email"/>
                            </div>
                        </div>
                        <div class="col-md-6 mt-3 mb-3">
                            <div class="single-form form-default">
                                <label class="form-label">Số điện thoại</label>
                                <input type="text" class="form-control" placeholder="Nhập số điện thoại"
                                       id="customer_phone"/>
                            </div>
                        </div>
                        <h5 class="mt-3">Đổi mật khẩu</h5>
                        <div class="col-md-6 mt-3 mb-3">
                            <div class="single-form form-default">
                                <label class="form-label">Mật khẩu hiện tại</label>
                                <input class="form-control" type="text" placeholder="Nhập email"/>
                            </div>
                        </div>
                        <div class="col-md-6 mt-3 mb-3">
                            <div class="single-form form-default">
                                <label class="form-label">Mật khẩu mới</label>
                                <input type="text" class="form-control" placeholder="Nhập số điện thoại"
                                       id="customer_phone"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mt-3 mb-3">
                        <button class="btn btn-primary mb-3">Lưu thay đổi</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="modal fade" id="modal-address-user" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm địa chỉ giao hàng</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-3" style="background-color: #F8FAFC">
                <div style="padding: 20px;background: #fff;border-radius: 12px;box-shadow: 0px 0px 12px rgb(0 0 0 / 6%);">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="single-form form-default">
                                <label class="form-label">Họ và tên</label>
                                <div class="col-md-12 form-input form">
                                    <input type="text" class="form-control customer_name" placeholder="Họ và tên"
                                           id="customer_name"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mt-3 mb-3">
                            <div class="single-form form-default">
                                <label class="form-label">Địa chỉ email</label>
                                <input class="form-control" type="text" placeholder="Nhập email"/>
                            </div>
                        </div>
                        <div class="col-md-6 mt-3 mb-3">
                            <div class="single-form form-default">
                                <label class="form-label">Số điện thoại</label>
                                <input type="text" class="form-control customer_phone"
                                       placeholder="Nhập số điện thoại"
                                       id="customer_phone"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="single-form form-default">
                                <label class="form-label">Tỉnh / Thành phố</label>
                                <div class="select-items">
                                    <select class="form-select calc_shipping_provinces"
                                            name="calc_shipping_provinces"
                                            id="calc_shipping_provinces"
                                            required="">
                                        <option selected>Tỉnh / Thành phố</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="single-form form-default">
                                <label class="form-label">Quận / Huyện</label>
                                <div class="select-items">
                                    <select class="form-select calc_shipping_district" name="calc_shipping_district"
                                            id="calc_shipping_district"
                                            required="">
                                        <option value="">Quận / Huyện</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="single-form form-default">
                                <label class="form-label">Phường / Xã</label>
                                <div class="select-items">
                                    <select class="form-select calc_shipping_wards" id="calc_shipping_wards"
                                            required="">
                                        <option value="">Phường / Xã</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="single-form form-default">
                                <label class="form-label">Địa chỉ</label>
                                <div class="col-md-12 form-input form">
                                    <input id="delivery_adddress" type="text" class="form-control"
                                           placeholder="Số nhà, tên đường"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" id="modal-address-action">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" id="btn_save_address_user" class="btn btn-primary">Thêm mới</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-edit-address-user" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sửa địa chỉ giao hàng</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-3" style="background-color: #F8FAFC">
                <div style="padding: 20px;background: #fff;border-radius: 12px;box-shadow: 0px 0px 12px rgb(0 0 0 / 6%);">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="single-form form-default">
                                <label class="form-label">Họ và tên</label>
                                <div class="col-md-12 form-input form">
                                    <input type="text" class="form-control customer_name" placeholder="Họ và tên"
                                           id="customer_name"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mt-3 mb-3">
                            <div class="single-form form-default">
                                <label class="form-label">Địa chỉ email</label>
                                <input class="form-control" type="text" placeholder="Nhập email"/>
                            </div>
                        </div>
                        <div class="col-md-6 mt-3 mb-3">
                            <div class="single-form form-default">
                                <label class="form-label">Số điện thoại</label>
                                <input type="text" class="form-control customer_phone"
                                       placeholder="Nhập số điện thoại"
                                       id="customer_phone"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="single-form form-default">
                                <label class="form-label">Tỉnh / Thành phố</label>
                                <div class="select-items">
                                    <select class="form-select calc_shipping_provinces"
                                            name="calc_shipping_provinces"
                                            id="calc_shipping_provinces"
                                            required="">
                                        <option selected>Tỉnh / Thành phố</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="single-form form-default">
                                <label class="form-label">Quận / Huyện</label>
                                <div class="select-items">
                                    <select class="form-select calc_shipping_district" name="calc_shipping_district"
                                            id="calc_shipping_district"
                                            required="">
                                        <option value="">Quận / Huyện</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="single-form form-default">
                                <label class="form-label">Phường / Xã</label>
                                <div class="select-items">
                                    <select class="form-select calc_shipping_wards" id="calc_shipping_wards"
                                            required="">
                                        <option value="">Phường / Xã</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="single-form form-default">
                                <label class="form-label">Địa chỉ</label>
                                <div class="col-md-12 form-input form">
                                    <input id="delivery_adddress" type="text" class="form-control"
                                           placeholder="Số nhà, tên đường"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" id="btn_update_address_user" class="btn btn-primary">Lưu</button>
                <button type='button' id='btn_delete_address' class='btn btn-danger'>Xóa</button>
            </div>
        </div>
    </div>
</div>

</div>
<!-- ========================= JS here ========================= -->
<script type="text/javascript" layout:fragment="script">
    $(document).ready(function () {

    });
</script>
</body>
</html>