<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{client/layout.html}">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>
        Giỏ hàng
    </title>
</head>
<body>
<div layout:fragment="content">
    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
<!--                <div class="col-lg-6 col-md-6 col-12">-->
<!--                    <div class="breadcrumbs-content">-->
<!--                        <h1 class="page-title">Giỏ hàng</h1>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="mb-3">
                    <ul class="breadcrumb-nav" style="text-align: left">
                        <li>
                            <a th:href="@{/}"><i class="lni lni-home"></i> Trang chủ</a>
                        </li>
                        <li><a th:href="@{/gio-hang}">Giỏ hàng</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- Start Cart Details -->
    <div class="shopping-cart section">
        <div class="container" th:if="${session.CART != null and session.CART.size() != 0}">
            <div class="row">
                <div class="col-12">
                    <div class="total-amount">
                        <div class="row">
                            <div class="col-lg-8 col-md-6 col-12">
                                <div class="left">
                                    <div class="cart-list-head" th:with="cart=${session.CART}">
                                        <div class="cart-list-title">
                                            <div class="row">
                                                <div class="col-lg-1 col-md-1 col-12"></div>
                                                <div class="col-lg-3 col-md-3 col-12">
                                                    <span th:text="'Tất cả('+${cart.size()} + ' sản phẩm)'">Product Name</span>
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-12">
                                                    <p>Đơn giá</p>
                                                </div>
                                                <div class="col-lg-3 col-md-2 col-12">
                                                    <p>Số lượng</p>
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-12">
                                                    <p>Thành tiền</p>
                                                </div>
                                                <div class="col-lg-1 col-md-2 col-12">
<!--                                                    <i style="cursor: pointer" class="lni lni-trash-can"></i>-->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cart-single-list" th:each="item : ${cart}">
                                            <div class="row align-items-center">
                                                <div class="col-lg-1 col-md-1 col-12">
                                                    <a href="product-details.html">
                                                        <img th:src="@{${item.value.product.images[0].url}}"
                                                             alt="#"/>
                                                    </a>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-12">
                                                    <h5 class="product-name">
                                                        <a href="product-details.html"
                                                           th:text="${item.value.product.name}">
                                                            Product name</a
                                                        >
                                                    </h5>
<!--                                                    <p class="product-des">-->
<!--                                                        <span><em>Type:</em> Mirrorless</span>-->
<!--                                                        <span><em>Color:</em> Black</span>-->
<!--                                                    </p>-->
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-12">
                                                    <p style="font-weight: 700;color: black"
                                                       th:text="${#numbers.formatCurrency(item.value.product.price)}">
                                                        product price</p>
                                                </div>
                                                <div class="col-lg-3 col-md-2 col-12">
                                                    <input th:id="'itemCart'+${item.value.product.id}"
                                                           th:value="${item.value.product.id}" type="hidden">

                                                    <input th:data-pro-id="${item.value.product.id}"
                                                           onchange="updateCart(this.getAttribute('data-pro-id'))"
                                                           class="form-control-sm"
                                                           th:id="'inputQuantity'+${item.value.product.id}"
                                                           type="number" th:value="${item.value.quantity}" min="1"
                                                           max="100" step="1"/>
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-12">
                                                    <p style="font-weight: 700;color: red"
                                                       th:text="${#numbers.formatCurrency(item.value.totalPrice)}">
                                                        product price</p>
                                                </div>
                                                <div class="col-lg-1 col-md-2 col-12">
                                                    <i th:data-pro-id="${item.value.product.id}" style="cursor: pointer" class="lni lni-trash-can" onclick=removeItemFromCart(this.getAttribute('data-pro-id'))></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-12">
<!--                                <div class="left">-->
<!--                                    <div class="coupon">-->
<!--                                        <h6>Nhập mã giảm giá</h6>-->
<!--                                        <br>-->
<!--                                        <form action="#" target="_blank">-->
<!--                                            <input name="Coupon" placeholder="Nhập mã của bạn"/>-->
<!--                                            <div class="button">-->
<!--                                                <button class="btn">Áp dụng</button>-->
<!--                                            </div>-->
<!--                                        </form>-->
<!--                                    </div>-->
<!--                                </div>-->
                                <div class="right mt-0">
                                    <ul>
                                        <li>Tạm tính
                                            <span th:text="${#numbers.formatCurrency(session.TOTAL_CART_PRICE)}">$2531.00</span>
                                        </li>
                                        <li>Giảm giá<span>0đ</span></li>
                                        <li class="last">Tổng tiền
                                            <span th:text="${#numbers.formatCurrency(session.TOTAL_CART_PRICE)}">$2531.00</span>
                                        </li>
                                    </ul>
                                    <div class="button">
                                        <a th:href="@{/thanh-toan}" class="btn">Thanh toán</a>
                                        <a href="/" class="btn btn-alt">
                                            Tiếp tục mua sắm
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" th:unless="${session.CART != null and session.CART.size() != 0}" style="text-align: center;">
            <h4>Không có sản phẩm nào trong giỏ hàng</h4>
            <br>
            <a th:href="@{/}" class="btn btn-primary">QUAY LẠI TRANG CHỦ</a>
        </div>
    </div>
    <!-- End Cart Details -->

    <!-- Review Modal -->
    <div
            class="modal fade review-modal"
            id="exampleModal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
    >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Leave a Review</h5>
                    <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="review-name">Your Name</label>
                                <input
                                        class="form-control"
                                        type="text"
                                        id="review-name"
                                        required
                                />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="review-email">Your Email</label>
                                <input
                                        class="form-control"
                                        type="email"
                                        id="review-email"
                                        required
                                />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="review-subject">Subject</label>
                                <input
                                        class="form-control"
                                        type="text"
                                        id="review-subject"
                                        required
                                />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="review-rating">Rating</label>
                                <select class="form-control" id="review-rating">
                                    <option>5 Stars</option>
                                    <option>4 Stars</option>
                                    <option>3 Stars</option>
                                    <option>2 Stars</option>
                                    <option>1 Star</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="review-message">Review</label>
                        <textarea
                                class="form-control"
                                id="review-message"
                                rows="8"
                                required
                        ></textarea>
                    </div>
                </div>
                <div class="modal-footer button">
                    <button type="button" class="btn">Submit Review</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Review Modal -->
</div>
<!-- ========================= JS here ========================= -->
<script type="text/javascript" layout:fragment="script">
    $("input[type='number']").inputSpinner();
</script>
</body>
</html>