<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{client/layout.html}">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>
        Danh sách sản phẩm
    </title>
</head>
<body>
<div layout:fragment="content">
    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">Sản phẩm</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="breadcrumb-nav">
                        <li>
                            <a href="index.html"><i class="lni lni-home"></i> Home</a>
                        </li>
                        <li><a href="index.html">Shop</a></li>
                        <li>Products</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- Start Item Details -->
    <section class="product-grids section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-12">
                    <div class="product-sidebar mt-30">
                        <!--                        <div class="single-widget search">-->
                        <!--                            <h3>Search Product</h3>-->
                        <!--                            <form action="#">-->
                        <!--                                <input type="text" placeholder="Search Here..."/>-->
                        <!--                                <button type="submit">-->
                        <!--                                    <i class="lni lni-search-alt"></i>-->
                        <!--                                </button>-->
                        <!--                            </form>-->
                        <!--                        </div>-->

                        <div class="single-widget">
                            <h3>Danh mục</h3>
                            <ul class="list">
                                <li th:each="cate : ${filterCates}">
                                    <a th:href="@{/collections/{cate}(cate=${cate.slug})}" th:text="${cate.name}">Computers
                                        &amp; Accessories </a
                                    >
                                    <!--                                    <span>(1138)</span>-->
                                </li>
                            </ul>
                        </div>

                        <div class="single-widget">
                            <h3>Khoảng giá</h3>

                            <div id="slider-range" class="price-filter-range w-100" name="rangeInput"></div>

                            <div style="margin:30px auto">
                                <p>Từ</p>
                                <input type="text" min=0 th:max="${maxAndMin.min}"
                                       onblur="handleInputPrice('min_price')"
                                       oninput="validity.valid||(value='0');" id="min_price" class="form-control"/>

                                <p>Đến</p>
                                <input type="text" min=0 th:max="${maxAndMin.max}"
                                       onblur="handleInputPrice('max_price')"
                                       oninput="validity.valid||(value='10000');" id="max_price" class="form-control"/>
                            </div>

                            <button class="btn btn-primary w-100" id="btn-range-price">Lọc</button>

                        </div>

                        <div th:with="currentUrl=(${#httpServletRequest.requestURI + '?' + #strings.defaultString(#httpServletRequest.queryString, '')})"
                             class="single-widget condition" th:each="attr, iStat : ${filterAttrs}">
                            <ul class="side-nav">
                                <li class="side-nav-item">
                                    <a
                                            data-bs-toggle="collapse"
                                            th:href="'#'+${attr.attr.code}"
                                            aria-expanded="false"
                                            th:aria-controls="'multiCollapse'+${iStat.index + 1}"
                                            class="side-nav-link"
                                    >
                                        <span> [[${attr.attr.name}]] </span>
                                        <span class="menu-arrow"></span>
                                    </a>
                                    <div class="collapse collapse-search" th:id="${attr.attr.code}">
                                        <ul class="side-nav-second-level">
                                            <li>
                                                <a class="form-check"
                                                   th:href="@{${urlBuilder.replaceQueryParam(attr.attr.code, 'a_'+attrValue.value).build().toUriString()}}"
                                                   th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                                                   th:each="attrValue, iStat1 : ${attr.attrValues}">
                                                    <th:block
                                                            th:if="${#strings.equals(param.get(attr.attr.code.toString()), 'a_'+attrValue.value)}">
                                                        <i class="fa-regular fa-square-check" aria-hidden="true"></i>
                                                        <label class="form-check-label"
                                                               th:for="'flexCheckDefaul'+${iStat1.index + 1}"
                                                               th:text="'&nbsp;'+${attrValue.value}">
                                                            Attr name
                                                        </label>
                                                    </th:block>
                                                    <th:block
                                                            th:unless="${#strings.equals(param.get(attr.attr.code.toString()), 'a_'+attrValue.value)}">
                                                        <i class="fa-regular fa-square"></i>
                                                        <label class="form-check-label"
                                                               th:for="'flexCheckDefaul'+${iStat1.index + 1}"
                                                               th:text="'&nbsp;'+${attrValue.value}">
                                                            &nbsp;Attr name
                                                        </label>
                                                    </th:block>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-12">
                    <div class="product-grids-head">
                        <!--                        <div class="product-grid-topbar">-->
                        <!--                            <div class="row align-items-center">-->
                        <!--                                <div class="col-lg-7 col-md-8 col-12">-->
                        <!--                                    <div class="product-sorting">-->
                        <!--                                        <label for="sorting">Sắp xếp:</label>-->
                        <!--                                        <select class="form-control" id="sorting">-->
                        <!--                                            <option value="sellCount_asc">Bán chạy nhất</option>-->
                        <!--                                            <option value="price_asc">Giá tăng dần</option>-->
                        <!--                                            <option value="price_desc">Giá giảm dần</option>-->
                        <!--                                            <option value="name_asc">Tên tăng dần</option>-->
                        <!--                                            <option value="name_desc">Tên giảm dần</option>-->
                        <!--                                        </select>-->
                        <!--                                        <h3 class="total-show-product">-->
                        <!--                                            Hiển thị: <span>1 - 6 sản phẩm</span>-->
                        <!--                                        </h3>-->
                        <!--                                    </div>-->
                        <!--                                </div>-->
                        <!--                                <div class="col-lg-5 col-md-4 col-12">-->
                        <!--                                    <nav>-->
                        <!--                                        <div class="nav nav-tabs" id="nav-tab" role="tablist">-->
                        <!--                                            <button-->
                        <!--                                                    class="nav-link active"-->
                        <!--                                                    id="nav-grid-tab"-->
                        <!--                                                    data-bs-toggle="tab"-->
                        <!--                                                    data-bs-target="#nav-grid"-->
                        <!--                                                    type="button"-->
                        <!--                                                    role="tab"-->
                        <!--                                                    aria-controls="nav-grid"-->
                        <!--                                                    aria-selected="true"-->
                        <!--                                            >-->
                        <!--                                                <i class="lni lni-grid-alt"></i>-->
                        <!--                                            </button>-->
                        <!--                                            <button-->
                        <!--                                                    class="nav-link"-->
                        <!--                                                    id="nav-list-tab"-->
                        <!--                                                    data-bs-toggle="tab"-->
                        <!--                                                    data-bs-target="#nav-list"-->
                        <!--                                                    type="button"-->
                        <!--                                                    role="tab"-->
                        <!--                                                    aria-controls="nav-list"-->
                        <!--                                                    aria-selected="false"-->
                        <!--                                            >-->
                        <!--                                                <i class="lni lni-list"></i>-->
                        <!--                                            </button>-->
                        <!--                                        </div>-->
                        <!--                                    </nav>-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <div class="tab-content" id="nav-tabContent">
                            <div
                                    class="tab-pane fade show active"
                                    id="nav-grid"
                                    role="tabpanel"
                                    aria-labelledby="nav-grid-tab"
                            >
                                <div class="row">
                                    <div class="col-lg-4 col-md-6 col-12" th:each="product : ${listProducts}">
                                        <div class="single-product">
                                            <div class="product-image">
                                                <input class="product-id" type="hidden" th:value="${product.id}">
                                                <img th:if="${product.images.size() > 0}"
                                                     th:src="@{'/'+${product.images[0].url}}"
                                                     alt="#"
                                                />
                                                <div th:if="${product.status == 1}" class="button btn-add-to-cart">
                                                    <button class="btn" th:onclick="'addItemtoCart('+${product.id}+')'">
                                                        <i class="lni lni-cart"></i>
                                                        Thêm
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="product-info">
                                                <h4 class="title" style="height: 40px;overflow: hidden">
                                                    <a th:href="@{/san-pham/{id}(id=${product.id})}"
                                                       th:text="${product.name}">product name</a>
                                                </h4>
                                                <!--                                                <ul class="review">-->
                                                <!--                                                    <li><i class="lni lni-star-filled"></i></li>-->
                                                <!--                                                    <li><i class="lni lni-star-filled"></i></li>-->
                                                <!--                                                    <li><i class="lni lni-star-filled"></i></li>-->
                                                <!--                                                    <li><i class="lni lni-star-filled"></i></li>-->
                                                <!--                                                    <li><i class="lni lni-star"></i></li>-->
                                                <!--                                                    <li><span>4.0 Review(s)</span></li>-->
                                                <!--                                                </ul>-->
                                                <div class="price">
                                                    <span th:text="${#numbers.formatCurrency(product.price)}">product price</span>
                                                </div>
                                                <div>
                                                    <span th:if="${product.status == 1}" class="p-qty"
                                                          style="color: #2cc067">
                                                        <i class="fa fa-check" aria-hidden="true"></i>
                                                        Còn hàng  </span>
                                                    <span th:unless="${product.status == 1}" style="color: #0074da;"
                                                          class="qty">
                                                        <i class="fas fa-phone fa-flip-horizontal"></i>
                                                        Liên hệ</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" th:if="${listProducts.totalPages > 0}">
                                    <div class="col-12">
                                        <div class="pagination left">
                                            <ul class="pagination-list">
                                                <th:block th:each="pageNumber : ${pageNumbers}">
                                                    <li th:class="${#strings.equals(pageNumber.toString(), param.get('page'))} ? active">
                                                        <a th:href="@{${urlBuilder.replaceQueryParam('page', pageNumber).build().toUriString()}}"
                                                           th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                                                           th:text="${pageNumber}"></a>
                                                    </li>
                                                </th:block>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="lni lni-chevron-right"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                    class="tab-pane fade"
                                    id="nav-list"
                                    role="tabpanel"
                                    aria-labelledby="nav-list-tab"
                            >
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-12">
                                        <div class="single-product">
                                            <div class="row align-items-center">
                                                <div class="col-lg-4 col-md-4 col-12">
                                                    <div class="product-image">
                                                        <img
                                                                src="assets/images/products/product-1.jpg"
                                                                alt="#"
                                                        />
                                                        <div class="button">
                                                            <a href="product-details.html" class="btn"
                                                            ><i class="lni lni-cart"></i> Add to Cart</a
                                                            >
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-8 col-md-8 col-12">
                                                    <div class="product-info">
                                                        <span class="category">Watches</span>
                                                        <h4 class="title">
                                                            <a href="product-grids.html"
                                                            >Xiaomi Mi Band 5</a
                                                            >
                                                        </h4>
                                                        <ul class="review">
                                                            <li><i class="lni lni-star-filled"></i></li>
                                                            <li><i class="lni lni-star-filled"></i></li>
                                                            <li><i class="lni lni-star-filled"></i></li>
                                                            <li><i class="lni lni-star-filled"></i></li>
                                                            <li><i class="lni lni-star"></i></li>
                                                            <li><span>4.0 Review(s)</span></li>
                                                        </ul>
                                                        <div class="price">
                                                            <span>$199.00</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-12">
                                        <div class="single-product">
                                            <div class="row align-items-center">
                                                <div class="col-lg-4 col-md-4 col-12">
                                                    <div class="product-image">
                                                        <img
                                                                src="assets/images/products/product-2.jpg"
                                                                alt="#"
                                                        />
                                                        <span class="sale-tag">-25%</span>
                                                        <div class="button">
                                                            <a href="product-details.html" class="btn"
                                                            ><i class="lni lni-cart"></i> Add to Cart</a
                                                            >
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-8 col-md-8 col-12">
                                                    <div class="product-info">
                                                        <span class="category">Speaker</span>
                                                        <h4 class="title">
                                                            <a href="product-grids.html"
                                                            >Big Power Sound Speaker</a
                                                            >
                                                        </h4>
                                                        <ul class="review">
                                                            <li><i class="lni lni-star-filled"></i></li>
                                                            <li><i class="lni lni-star-filled"></i></li>
                                                            <li><i class="lni lni-star-filled"></i></li>
                                                            <li><i class="lni lni-star-filled"></i></li>
                                                            <li><i class="lni lni-star-filled"></i></li>
                                                            <li><span>5.0 Review(s)</span></li>
                                                        </ul>
                                                        <div class="price">
                                                            <span>$275.00</span>
                                                            <span class="discount-price">$300.00</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-12">
                                        <div class="single-product">
                                            <div class="row align-items-center">
                                                <div class="col-lg-4 col-md-4 col-12">
                                                    <div class="product-image">
                                                        <img
                                                                src="assets/images/products/product-3.jpg"
                                                                alt="#"
                                                        />
                                                        <div class="button">
                                                            <a href="product-details.html" class="btn"
                                                            ><i class="lni lni-cart"></i> Add to Cart</a
                                                            >
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-8 col-md-8 col-12">
                                                    <div class="product-info">
                                                        <span class="category">Camera</span>
                                                        <h4 class="title">
                                                            <a href="product-grids.html"
                                                            >WiFi Security Camera</a
                                                            >
                                                        </h4>
                                                        <ul class="review">
                                                            <li><i class="lni lni-star-filled"></i></li>
                                                            <li><i class="lni lni-star-filled"></i></li>
                                                            <li><i class="lni lni-star-filled"></i></li>
                                                            <li><i class="lni lni-star-filled"></i></li>
                                                            <li><i class="lni lni-star-filled"></i></li>
                                                            <li><span>5.0 Review(s)</span></li>
                                                        </ul>
                                                        <div class="price">
                                                            <span>$399.00</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-12">
                                        <div class="single-product">
                                            <div class="row align-items-center">
                                                <div class="col-lg-4 col-md-4 col-12">
                                                    <div class="product-image">
                                                        <img
                                                                src="assets/images/products/product-4.jpg"
                                                                alt="#"
                                                        />
                                                        <span class="new-tag">New</span>
                                                        <div class="button">
                                                            <a href="product-details.html" class="btn"
                                                            ><i class="lni lni-cart"></i> Add to Cart</a
                                                            >
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-8 col-md-8 col-12">
                                                    <div class="product-info">
                                                        <span class="category">Phones</span>
                                                        <h4 class="title">
                                                            <a href="product-grids.html">iphone 6x plus</a>
                                                        </h4>
                                                        <ul class="review">
                                                            <li><i class="lni lni-star-filled"></i></li>
                                                            <li><i class="lni lni-star-filled"></i></li>
                                                            <li><i class="lni lni-star-filled"></i></li>
                                                            <li><i class="lni lni-star-filled"></i></li>
                                                            <li><i class="lni lni-star-filled"></i></li>
                                                            <li><span>5.0 Review(s)</span></li>
                                                        </ul>
                                                        <div class="price">
                                                            <span>$400.00</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-12">
                                        <div class="single-product">
                                            <div class="row align-items-center">
                                                <div class="col-lg-4 col-md-4 col-12">
                                                    <div class="product-image">
                                                        <img
                                                                src="assets/images/products/product-7.jpg"
                                                                alt="#"
                                                        />
                                                        <span class="sale-tag">-50%</span>
                                                        <div class="button">
                                                            <a href="product-details.html" class="btn"
                                                            ><i class="lni lni-cart"></i> Add to Cart</a
                                                            >
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-8 col-md-8 col-12">
                                                    <div class="product-info">
                                                        <span class="category">Headphones</span>
                                                        <h4 class="title">
                                                            <a href="product-grids.html"
                                                            >PX7 Wireless Headphones</a
                                                            >
                                                        </h4>
                                                        <ul class="review">
                                                            <li><i class="lni lni-star-filled"></i></li>
                                                            <li><i class="lni lni-star-filled"></i></li>
                                                            <li><i class="lni lni-star-filled"></i></li>
                                                            <li><i class="lni lni-star-filled"></i></li>
                                                            <li><i class="lni lni-star"></i></li>
                                                            <li><span>4.0 Review(s)</span></li>
                                                        </ul>
                                                        <div class="price">
                                                            <span>$100.00</span>
                                                            <span class="discount-price">$200.00</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" th:if="${listProducts.totalPages > 0}">
                                    <div class="col-12">
                                        <div class="pagination left">
                                            <ul class="pagination-list" th:each="pageNumber : ${pageNumbers}">
                                                <li>
                                                    <a th:href="@{/shop(size=${listProducts.size}, page=${pageNumber})}"
                                                       th:text=${pageNumber}
                                                       th:class="${pageNumber==listProducts.number + 1} ? active"></a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)"
                                                    ><i class="lni lni-chevron-right"></i
                                                    ></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Item Details -->
</div>
<!-- ========================= JS here ========================= -->
<th:block layout:fragment="script">
    <script th:src="@{/client/assets/js/cart.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/

        var minPrice = /*[[${maxAndMin.min}]]*/ 'default';
        var maxPrice = /*[[${maxAndMin.max}]]*/ 'default';

        $("#slider-range").slider({
            range: true,
            orientation: "horizontal",
            min: 0,
            max: maxPrice,
            values: [0, maxPrice],
            step: 100,

            slide: function (event, ui) {
                if (ui.values[0] == ui.values[1]) {
                    return false;
                }

                $("#min_price").val(ui.values[0]);
                $("#max_price").val(ui.values[1]);
            },
        });

        const queryString = window.location.search;
        $('.collapse-search').each(function (item) {
            if (queryString.toString().includes($(this).attr('id'))) {
                var collapse = new bootstrap.Collapse(this);
                collapse.show();
            }
        })

        $('.collapse-search').each(function (item) {
            var nameParam = $(this).attr('id')
            $(this).find('a').each(function (item) {
                if ($(this).find('i').hasClass('fa-square-check')) {
                    $(this).on('click', function (e) {
                        e.preventDefault();
                        handleClickSearch(nameParam);
                    })
                }
            })
        })

        function handleClickSearch(nameParam) {
            let url = new URL(window.location.href);
            url.searchParams.delete(nameParam);
            window.location.href = url;
        }

        $('#sorting').on('change', function () {
            let val = $("#sorting option:selected").val();
            let field = val.toString().split('_')[0];
            let value = val.toString().split('_')[1]
            let url = new URL(window.location.href);
            url.searchParams.set(field, 'p_' + value);
            window.location.href = url;
        })

        $('#btn-range-price').on('click', function () {
            var min_price = $('#min_price').val();
            var max_price = $('#max_price').val();
            if (min_price && max_price) {
                let url = new URL(window.location.href);
                url.searchParams.set('price', 'p_' + min_price + 'to' + max_price);
                window.location.href = url;
            }
        })

        function handleInputPrice(elementId) {
            var amount = document.getElementById(elementId).value;
            amount = amount.toString().replaceAll(".", "");
            if (amount) {
                document.getElementById(elementId).value = formatToCurrency(amount);
            }
        }

        const formatToCurrency = amount => {
            // return formatter.format(amount);
            return amount.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.");
        }

        var formatter = new Intl.NumberFormat('vi-VN', {
            style: 'currency',
            currency: 'VND',
        });
        /*]]>*/
    </script>
</th:block>

</body>
</html>