<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout.html}">
<head>
    <meta charset="utf-8"/>
    <title>Quản lý thuộc tính</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta
            content="A fully featured admin theme which can be used to build CRM, CMS, etc."
            name="description"
    />
    <meta content="Coderthemes" name="author"/>
    <th:block layout:fragment="css">
        <link th:href="@{/admin/assets/css/vendor/dataTables.bootstrap5.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/admin/assets/css/vendor/responsive.bootstrap5.css}" rel="stylesheet" type="text/css"/>
    </th:block>
</head>

<body
        class="loading"
        data-layout-color="light"
        data-layout="detached"
        data-rightbar-onstart="true"
>
<div class="content" layout:fragment="content">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">eCommerce</a></li>
                        <li class="breadcrumb-item active">Products</li>
                    </ol>
                </div>
                <h4 class="page-title">Thêm thuộc tính</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <form action="#" th:action="@{/admin/attribute/add-attr}" th:object="${attribute}" method="post">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-body">
                            <div th:if="${message}"
                                 class="alert alert-success alert-dismissible bg-success text-white border-0 fade show"
                                 role="alert">
                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                                <span th:text="${message}"></span>
                            </div>
                            <p class="text-muted font-14 mb-3" style="text-align: end;">
                                <button type="submit" class="btn btn-primary">Lưu lại</button>
                            </p>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="mb-3">
                                        <label for="simpleinput" class="form-label">Tên thuộc tính</label>
                                        <input type="text" id="simpleinput" th:field="*{name}" class="form-control">
                                    </div>
                                </div> <!-- end col-->
                            </div>
                            <!-- end row-->

                        </div>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col -->
        </div>
    </form>
    <!-- end row -->
</div> <!-- End Content -->
<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/admin/assets/js/pages/product/add-product.js}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            "use strict";
            var count = -1;
            $("#add-attribute").click(function (e) {
                $.ajax({
                    url: '/admin/product/attribute',
                    type: 'GET',
                    success: function (response) {
                        count++;
                        $("#content-add-attribute").append(response);
                        $("#select-attr-product").attr('name', `attributes[${count}].attr.id`);
                        $("#select-attr-product").attr('id', 'select-attr-product' + count);
                        $("#select-attr-value-product").attr('name', `attributes[${count}].attrValue.id`);
                        $("#select-attr-value-product").attr('id', 'select-attr-value-product' + count);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                })
            })

            $("#showModal").click(function () {
                $.ajax({
                    url: '/admin/product/attribute',
                    type: 'GET',
                    success: function (response) {
                        $('.modal-body').replaceWith(response)
                    },
                    error: function (error) {
                        console.log(error);
                    }
                })
                var myModal = new bootstrap.Modal(document.getElementById('standard-modal'), {})
                myModal.show()
            })
        });
    </script>
</th:block>
</body>
</html>
