<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout.html}">
<head>
    <meta charset="utf-8"/>
    <title>Quản lý khách hàng</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta
            content="A fully featured admin theme which can be used to build CRM, CMS, etc."
            name="description"
    />
    <meta content="Coderthemes" name="author"/>
    <th:block layout:fragment="css">
        <link th:href="@{/admin/assets/css/vendor/dataTables.bootstrap5.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/admin/assets/css/vendor/responsive.bootstrap5.css}" rel="stylesheet" type="text/css"/>
    </th:block>
</head>

<body
        class="loading"
        data-layout-color="light"
        data-layout="detached"
        data-rightbar-onstart="true"
>
<div class="content" layout:fragment="content">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">eCommerce</a></li>
                        <li class="breadcrumb-item active">Products</li>
                    </ol>
                </div>
                <h4 class="page-title">Thêm mới</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <form id="user-form" th:action="@{/admin/customer/add}" th:object="${customer}" method="post" novalidate>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-body">
                            <p class="text-muted font-14 mb-3" style="text-align: end;">
                                <button type="submit" class="btn btn-primary">Lưu lại</button>
                            </p>
                            <ul class="nav nav-tabs nav-bordered mb-3">
                                <li class="nav-item">
                                    <a href="#vertical-left-tabs-info" data-bs-toggle="tab" aria-expanded="false"
                                       class="nav-link active">
                                        Thông tin chung
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#vertical-left-tabs-order" data-bs-toggle="tab" aria-expanded="true"
                                       class="nav-link">
                                        Hóa đơn mua hàng
                                    </a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane show active" id="vertical-left-tabs-info">
                                    <div class="row">
                                        <div class="col-sm-3 mb-2 mb-sm-0">
                                            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                                <a class="nav-link active show" id="v-pills-home-tab" data-bs-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home"
                                                   aria-selected="true">
                                                    <i class="mdi mdi-home-variant d-md-none d-block"></i>
                                                    <span class="d-none d-md-block">Tổng quan</span>
                                                </a>
                                                <a class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile"
                                                   aria-selected="false">
                                                    <i class="mdi mdi-account-circle d-md-none d-block"></i>
                                                    <span class="d-none d-md-block">Thêm địa chỉ</span>
                                                </a>
                                            </div>
                                        </div> <!-- end col-->

                                        <div class="col-sm-9">
                                            <div class="tab-content" id="v-pills-tabContent">
                                                <div class="tab-pane fade active show" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="form-group mb-3 row required">
                                                                <label for="input-username" class="control-label col-sm-3 col-form-label">Tên đăng nhập</label>
                                                                <div class="col-sm-9">
                                                                    <input type="text" id="input-username" th:field="*{username}"
                                                                           class="form-control">
                                                                </div>
                                                            </div>
                                                            <div class="form-group mb-3 row required">
                                                                <label for="input-fullname" class="control-label col-sm-3 col-form-label">Họ và tên</label>
                                                                <div class="col-sm-9">
                                                                    <input type="text" id="input-fullname" th:field="*{name}"
                                                                           class="form-control">
                                                                </div>
                                                            </div>
                                                            <div class="mb-3 row">
                                                                <label for="input-email" class="col-sm-3 col-form-label">E-Mail</label>
                                                                <div class="col-sm-9">
                                                                    <input type="text" id="input-email" th:field="*{email}"
                                                                           class="form-control">
                                                                </div>
                                                            </div>
                                                            <div class="mb-3 row">
                                                                <label for="input-phone" class="col-sm-3 col-form-label">Số điện thoại</label>
                                                                <div class="col-sm-9">
                                                                    <input type="text" id="input-phone" th:field="*{phone}"
                                                                           class="form-control">
                                                                </div>
                                                            </div>
                                                            <div class="form-group mb-3 row required">
                                                                <label for="input-password" class="control-label col-sm-3 col-form-label">Mật khẩu</label>
                                                                <div class="col-sm-9">
                                                                    <input type="password" id="input-password" th:field="*{password}"
                                                                           class="form-control">
                                                                </div>
                                                            </div>
                                                            <div class="form-group mb-3 row required">
                                                                <label for="input-valid-password" class="control-label col-sm-3 col-form-label">Xác nhận</label>
                                                                <div class="col-sm-9">
                                                                    <input type="password" id="input-valid-password" name="re-password"
                                                                           class="form-control">
                                                                </div>
                                                            </div>
                                                        </div> <!-- end col-->
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                                    <p class="mb-0">...</p>
                                                </div>
                                            </div> <!-- end tab-content-->
                                        </div> <!-- end col-->
                                    </div>
                                </div>

                                <div class="tab-pane" id="vertical-left-tabs-order">

                                </div>


                            <!-- end row-->
                        </div>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col -->
        </div>
    </form>
    <!-- end row -->
</div> <!-- End Content -->
<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/admin/assets/js/pages/user/validate-location.js}"></script>

</th:block>
</body>
</html>
